/*to hide the scrollbar for menu*/
body, html {background:#000; -ms-scrollbar-base-color: #ffffff; scrollbar-face-color: #ffffff;}
.panel::-webkit-scrollbar { display: none; }

.main-container {
     max-width: 490px;
     background-color: #f7f2db;
}

.scTitle, .subtitle, .highlight {
     font-family: 'Russo One';
}
.scImg {
     background-image: url("");
     /* background-size: cover; */
     background-size: 100% 100%;
     background-position: center center;
     position: relative;
     height:300px;
     width:80%;
     margin: 0 auto;
     background-repeat:no-repeat;
     -webkit-background-size:100% 100%;
     -moz-background-size:100% 100%;
     -o-background-size:100% 100%;
}
.theEnd {
     background: #be1f12;
     color:#fff;
     font-family: 'Russo One';
}
.theEndBox {
     opacity:0;
}
.card-header {
     font-family: 'Russo One';
}
.downArrow {
     animation: blinker 2s linear infinite;
   }   
@keyframes blinker {
     50% {
       opacity: 0;
     }
   }
.info-background {
     position: absolute;
     top:0px;
     left:0px;
     width: 100%;
     height:100%;
     background: rgba(0,0,0,0.4);
     display:none;
}
.info-box {
     color:#fff;
     background:#be1f12 !important;
     border-color: #be1f12 !important;
     z-index: 5;
     position: absolute;
     bottom:15px;
     left: 50%;
     transform: translate(-50%);
     display:none;
}
.scenarioBox {
     position: absolute;
     bottom:20px;
     width: 100%;
}
.scenario, .btnFeedbackDone-1, .btnFeedbackDone-2 {
     display:none;
}
.panel {
     color:#333333;
     position: relative;
     width: 100%;
     max-width: 800px;
     -webkit-overflow-scrolling: touch;
     -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel .scText {
     text-decoration:none;
     text-shadow:0px 1px 1px #fff;
     font-weight: 500;
}

.story-links a {
     color:#007bff;
     text-decoration: underline;
}

.endPanel {
     display: none;
}

.homeCredits {
     max-width: 490px;
     background-color: #fff;
}

#btnOther {
     background-color: #be1f12;
     color:#fff;
}

.share-icons {
     color:#be1f12;
     font-size: 3em;
}

.share-icons-home {
     color:#be1f12;
}

.character-name {
     position:absolute;
     left: 50%;
     transform: translate(-50%);
     bottom:0px;
     background-color:rgba(0, 0, 0, 0.3);
     padding:0px 2px;
     border-radius: 2px;
     width: 50%;
}

.character-box{
     border: 2px solid rgba(0, 0, 0, 0);
     border-radius: 5px;
}

.character-box:hover, .btnFB:hover, .btnTW:hover, .btnWA:hover {
     cursor: pointer;
}

.character-box:hover {
     border-color: #fbcd57;
}

.top_logo{
     position: absolute;
     top:10px;
     left:0px;
}

.btnOptImg {
     cursor: pointer;
     background-size: 100% 100%;
     background-position: center center;
     margin: 0 auto;
     background-repeat:no-repeat;
     -webkit-background-size:100% 100%;
     -moz-background-size:100% 100%;
     -o-background-size:100% 100%;
     background-color: rgba(0, 0, 0, 0) !important;
}

.btnMore {
     animation: pulse 1s infinite ease-in-out alternate;
     cursor: pointer;
}

.btnOptText {
	box-shadow: 3px 4px 0px 0px #ff6f00;
	background:linear-gradient(to bottom, #fac400 5%, #ffab23 100%);
	background-color:#fac400;
	border-radius:18px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btnOptText:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #fac400 100%);
	background-color:#ffab23;
}
.scTextOpt {
     text-align: center;
     font-size: 1.5em;
     font-weight: 600;
}


@keyframes pulse {
     from { transform: scale(0.9); }
     to { transform: scale(1.2); }
   }

@media (max-width: 500px ) { 
     .btnOpt {width: 100%;}
     /* .scImg {
          position: fixed!important;
          left:0;
     } */
}

@media only screen and (orientation: portrait) {
     .scImg {width: 100%;}
   }